body {
  margin: 0;
}

.wrapper {
  height: 1000vh;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.menu-icon-box {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  transform: rotate(-45deg);
  transition: transform 200ms ease;
  margin-top: 20px;
  margin-left: 10px;
  position: fixed;
  z-index: 2;
}

.middle-line {
  width: 60px;
  border: 4px solid #333;
  border-radius: 10px;
  transition: opacity 200ms ease;
}

.side-line {
  width: 40px;
  border: 4px solid #333;
  border-radius: 10px;
  transition: transform 200ms ease, border-color 200ms ease;
}

.box-active {
  transform: rotate(45deg);
}

.top-line-active {
  transform: translateY(17px) rotate(90deg);
}

.bottom-line-active {
  transform: translateY(-17px);
}

.middle-line-active {
  opacity: 0;
}

.container p {
  font-size: 10vw;
}

.menu-wrapper {
  display: none;
  position: fixed;
  z-index: 1;
}

.menu-overlay {
  height: 100vh;
  width: 100vw;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-icon-active {
  border-color: whitesmoke;
}

.body-menu-active {
  overflow: hidden;
}

.menu-text-container {
  position: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-text p {
  color: whitesmoke;
  font-size: 50px;
}

p {
  font-family: "Bungee", cursive;
}
