body {
  text-align: center;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.wrapper {
  width: 500px;
  margin: auto;
}

ol, ul {
  text-align: left;
}

article {
  text-align: justify;
}

img {
  border: 5px solid white;
  padding: 5px;
}

header, main, footer, hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

a:link    {
  color: white;  }

a:visited {
  color: pink;   }

a:hover   {
  color: green; }

a:active  {
  color: red;  }
